html,body,
#root{
	background: transparent;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

body{
	background-image: url(../images/pattern.jpg);
    /*animation: 70s scroll infinite linear;*/
    background-size: 50%;
    background-position: bottom;
    background-attachment: fixed;
}

.simple-card{
	background-color: white;
	margin: 10px;
	padding: 30px;
	border-radius: 10px;
}

svg path:hover{
	fill: red;
	cursor: pointer;
}


@keyframes scroll{
	100%{
		background-position:-2000px 0px
	}
}
